<html>

<head>
    <title>GPS Data Buoy</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/vuetify.min.css" rel="stylesheet">
    <link href="/css/leaflet.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
    .v-card {
        padding: 20px;
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }
</style>

<div id="app">
    <v-app>
        <v-app-bar app dense>
            <v-spacer></v-spacer>
            <v-app-bar-title>Position Dashboard</v-app-bar-title>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-main>
            <v-container fluid>
                <v-row style="height: 800px;">
                    <v-col cols="8" style="z-index:0">
                        <l-map ref="map" :zoom="zoom" :center="[GPSData.FixLat, GPSData.FixLon]">
                            <l-tile-layer
                              url='https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'
                              name="OpenSatteliteMap"
                            ></l-tile-layer>
                            <l-marker :lat-lng="[GPSData.FixLat, GPSData.FixLon]" draggable>
                              <l-tooltip>
                                  D-GPS Fix
                              </l-tooltip>
                            </l-marker>
                            <l-marker :lat-lng="[GPSData.GPSLon, GPSData.GPSLat]" >
                              <l-tooltip>
                                  GPSRaw
                              </l-tooltip>
                            </l-marker>
                          </l-map>
                    </v-col>
                    <v-col cols="4">
                        <v-card class="mx-auto" 
                                outlined>
                            <v-container>
                                <v-card-title>Data</v-card-title>
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <div>{{GPSData}}</div>
                                        <v-list-item-subtitle>Boje</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider></v-divider>
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <div>{{Telemetry}}</div>
                                        <v-list-item-subtitle>Telemetry</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-container>
                        
                        </v-card>
                        <v-chip
                            :color="(correctionPossible) ? 'green' : 'red'"
                        >
                        Correction Possible
                        </v-chip>
                        <v-chip
                            :color="(DGPSpossible) ? 'green' : 'red'"
                        >
                        DGPS Possible
                        </v-chip>
                    </v-col>
                </v-row>
                <v-row>
					<v-card class="mx-auto" max-width="300" max-height="250" outlined>
                        <b>Time</b>
                        <v-text-field v-model="timeBoje">
                        </v-text-field>
                        <v-btn outlined rounded text @click="setTime()">   Send Time to UUV  </v-btn>
                    </v-card>
                    <v-card class="mx-auto" max-width="300" outlined>
                        <v-btn color="red" outlined rounded text @click="restart()">   Restart Script    </v-btn>
                        <br><br>
                        <v-btn color="red" outlined rounded text @click="enableDGPS(0)">   D DGPS  </v-btn><v-btn color="green" outlined rounded text @click="enableDGPS(1)">   E DGPS  </v-btn><br><br>
                        <v-btn color="red" outlined rounded text @click="enableCalc(0)">   D Calc  </v-btn><v-btn color="green" outlined rounded text @click="enableCalc(1)">   E Calc  </v-btn>
                    </v-card>

                    <v-card class="mx-auto" max-width="150" max-height="250" outlined>
                        <b>Temperatur</b>
                        <v-text-field v-model="Telemetry.Temperature">
                        </v-text-field>
                    </v-card>

                    <v-card class="mx-auto" max-width="150" max-height="250" outlined>
                        <b>Humidity</b>
                        <v-text-field v-model="Telemetry.Humidity">
                        </v-text-field>
                    </v-card>
				</v-row>	
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="/js/vue.js"></script>
<script src="/js/vuetify.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/vue2-leaflet.min.js"></script>

<script>
    Vue.config.devtools = true;
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        components: {
            'l-map': window.Vue2Leaflet.LMap,
            'l-tile-layer': window.Vue2Leaflet.LTileLayer,
            'l-marker': window.Vue2Leaflet.LMarker,
            'l-control-layers': window.Vue2Leaflet.LControlLayers,
            'l-tooltip': window.Vue2Leaflet.LTooltip,
            'l-popup': window.Vue2Leaflet.LPopup,
            'l-polyline': window.Vue2Leaflet.LPolyline,
            'l-polygon': window.Vue2Leaflet.LPolygon,
            'l-rectangle': window.Vue2Leaflet.LRectangle,
        },
        data() {
            return {
                zoom: 21,

                GPSData: {
                    GPSLat: "0",
                    GPSLon: "0",
                    CorrectedLat: "0",
                    CorrectedLon: "0",
                    FixLat: "51.07205984",
                    FixLon: "13.59835664",
                    DGPSLat: "0",
                    DGPSLon: "0",
                },
                correctionPossible: true,
                DGPSpossible: false,
                Telemetry:{
                    Depth: "0",
                    Lenght: "0",
                    Correction: "0",
                    Direction: "0",
                    Comapss: "0",
                    Accuracy: "0",
                    Humidity:"0",
                    Temperature:"0",
                },
		        timeboje:"",
            }
        }, 
        methods: {
			async reloadTextFromBackend() {
                await axios.get("/v1.0/GPSLat").then(response => {
                    console.log("got GPS Lat",response.data)
                    this.GPSData.GPSLat = response.data;
                })
                await axios.get("/v1.0/GPSLon").then(response => {
                    this.GPSData.GPSLon = response.data;
                })
                await axios.get("/v1.0/CorrectedLat").then(response => {
                    this.GPSData.CorrectedLat = response.data;
                })
                await axios.get("/v1.0/CorrectedLon").then(response => {
                    this.GPSData.CorrectedLon = response.data;
                })
                //await axios.get("/v1.0/correction_offset_lon").then(response => {
                //    this.correction_offset_lon = response.data;
                //})
                //
                //await axios.get("/v1.0/correction_offset_lat").then(response => {
                //    this.correction_offset_lat = response.data;
                //})
                //
                //
                //await axios.get("/v1.0/Depth").then(response => {
                //    this.Depth = response.data;
                //})
                //await axios.get("/v1.0/Lenght").then(response => {
                //    this.Lenght = response.data;
                //})
                //await axios.get("/v1.0/Correction").then(response => {
                //    this.Correction = response.data;
                //})
                //await axios.get("/v1.0/Direction").then(response => {
                //    this.Direction = response.data;
                //})
                //await axios.get("/v1.0/Compass").then(response => {
                //    this.Comapss = response.data;
                //})
                //await axios.get("/v1.0/Accuracy").then(response => {
                //    this.Accuracy = response.data;
                //})




                //await axios.get("/v1.0/DGPSposLat").then(response => {
                //    this.DGPSposLat = response.data;
                //})
                //await axios.get("/v1.0/DGPSposLon").then(response => {
                //    this.DGPSposLon = response.data;
                //})
                //await axios.get("/v1.0/DGPScorrX").then(response => {
                //    this.DGPScorrX = response.data;
                //})
                //await axios.get("/v1.0/DGPScorrY").then(response => {
                //    this.DGPScorrY = response.data;
                //})
//
//
                //await axios.get("/v1.0/GetTime").then(response => {
                //    this.timeBoje = response.data;
                //})
//
                //await axios.get("/v1.0/GetTemp").then(response => {
                //    this.temp = response.data;
                //})
//
                //await axios.get("/v1.0/GetHum").then(response => {
                //    this.hum = response.data;
                //})

            },
            async loadTextFromBackend() {
                await axios.get("/v1.0/DGPSfixLat").then(response => {
                    this.GPSData.FixLat = response.data;
                })
                await axios.get("/v1.0/DGPSfixLon").then(response => {
                    this.GPSData.FixLon = response.data;
                })
            },

            async setDPGS() {
                await axios.post('/v1.0/setDGPSLat', {
                    data: this.GPSData.FixLat,
                })
                await axios.post('/v1.0/setDGPSLon', {
                    data: this.GPSData.FixLon,
                })
            },

            async enableDGPS(value) {
                await axios.post('/v1.0/enableDGPS', {
                    data: value,
                })
            },
            async enableCalc(value) {
                await axios.post('/v1.0/enableCalc', {
                    data: value,
                })
            },

            async restart() {
                await axios.post('/v1.0/restart', {})
            },            

            async setTime() {
                await axios.post('/v1.0/setTime', {})
            },

            timer() {
                this.interval = setInterval(() => this.reloadTextFromBackend(), 2000);
            },
        },
        mounted() {
            this.loadTextFromBackend()
            this.timer()
        }
    })
</script>

</html>
