<html>

<head>
    <title>GPS Data Buoy</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/vuetify.min.css" rel="stylesheet">
    <link href="/css/leaflet.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
    .v-card {
        padding: 20px;
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }
</style>

<div id="app">
    <v-app>
        <v-app-bar app dense>
            <v-row style="position: absolute; left: 2%">
                {{timeBoje}}
                <v-tooltip>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn small icon @click="setTime()" class="mx-3">
                            <v-icon>mdi-send-clock</v-icon>
                        </v-btn>
                    </template>
                    <span>Send Time to ROV</span>
                </v-tooltip>
            </v-row>
            <v-spacer></v-spacer>
            <v-app-bar-title>Position Dashboard</v-app-bar-title>
            <v-spacer></v-spacer>
            <v-row align="center" style="position: absolute; right: 2%">
                <v-icon>mdi-thermometer</v-icon>
                <v-col>
                    {{Telemetry.Temperature + '°C'}}
                </v-col>
                <v-icon>mdi-water-percent</v-icon>
                <v-col>
                    {{Telemetry.Humidity + '%'}}
                </v-col>
            </v-row>
        </v-app-bar>
        <v-main>
            <v-container fluid>
                <v-row style="height: 800px;">
                    <v-col id="map" cols="8" style="z-index:0"></v-col>
                    <v-col cols="4">
                        <v-card class="mx-auto flex-nowrap py-0" 
                                outlined>
                            <v-container>
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-row class="text-h6 flex-nowrap">
                                            <v-col >{{GPSData.GPSLat.slice(0,9)}}</v-col>
                                            <v-col>{{GPSData.GPSLon.slice(0,9)}}</v-col>
                                        </v-row>
                                        <v-list-item-subtitle>Boje</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider class="ma-3"></v-divider>
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-row class="text-h6 flex-nowrap">
                                            <v-col>{{GPSData.CorrectedLat.slice(0,9)}}</v-col>
                                            <v-col>{{GPSData.CorrectedLon.slice(0,9)}}</v-col>
                                        </v-row>
                                        <v-list-item-subtitle>Corrected Position</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider class="ma-5"></v-divider>
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-row>
                                            <v-col cols="5"><v-text-field v-model="GPSData.FixLat" hint="Latitude" dense/></v-col>
                                            <v-col cols="5"><v-text-field v-model="GPSData.FixLon" hint="Longitude" dense/></v-col>
                                            <v-col cols="2">
                                                <v-btn small icon @click="setDPGS()">
                                                    <v-icon>mdi-send</v-icon>
                                                </v-btn>
                                            </v-col>
                                        </v-row>
                                        <v-list-item-subtitle>Fix</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-col>
                                    <v-divider></v-divider>
                                    <v-divider></v-divider>
                                </v-col>
                                <v-list-item two-line>
                                    <v-row>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Depth}}</v-col>
                                            <v-list-item-subtitle>Depth</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Tether_Length}}</v-col>
                                            <v-list-item-subtitle>Tether Length</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-row>
                                </v-list-item>
                                <v-divider class="ma-5"></v-divider>
                                <v-list-item two-line>
                                    <v-row>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Direction}}</v-col>
                                            <v-list-item-subtitle>Direction</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Compass}}</v-col>
                                            <v-list-item-subtitle>Compass</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-row>
                                </v-list-item>
                                <v-divider class="ma-5"></v-divider>
                                <v-list-item two-line>
                                    <v-row>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Depth}}</v-col>
                                            <v-list-item-subtitle>Depth</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-content>
                                            <v-col class="text-h6">{{Telemetry.Tether_Length}}</v-col>
                                            <v-list-item-subtitle>Tether Length</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-row>
                                </v-list-item>
                            </v-container>
                        </v-card>
                        <v-card class="mx-auto" outlined>
                            <v-row justify="space-around">
                                <v-switch v-model="correctionEnabled" @change="enableDGPS(correctionEnabled)" color="success" inset :label="`Correction`"></v-switch>
                                <v-icon v-if="correctionPossible" color="green"/>mdi-check-circle</v-icon>
                                <v-icon v-else color="red" />mdi-close-circle</v-icon>    
                                <v-divider vertical class="ma-2"></v-divider>
                                <v-switch v-model="DGPSenabled" @change="enableCalc(DGPSenabled)" color="success" inset :label="`D-GPS`"></v-switch>
                                <v-icon v-if="DGPSpossible" color="green"/>mdi-check-circle</v-icon>
                                <v-icon v-else color="red" />mdi-close-circle</v-icon>

                            </v-row>
                            <v-divider class="my-2"></v-divider>
                            <v-btn color="red" outlined rounded text @click="restart()">Restart Script</v-btn>
                            <!-- <v-col class="py-0">
                                <v-row justify="start">
                                    <v-row class="align-center py-0">
                                        <v-col cols="7">
                                            <v-switch v-model="correctionEnabled" @change="enableDGPS(correctionEnabled)" color="success" inset :label="`Correction`"></v-switch>  
                                        </v-col>
                                        <v-col cols="5">
                                            <v-icon v-if="correctionPossible" color="green"/>mdi-check-circle</v-icon>
                                            <v-icon v-else color="red" />mdi-close-circle</v-icon>
                                        </v-col>
                                    </v-row>
                                    <v-row class="align-center">
                                        <v-col cols="7">
                                            <v-switch v-model="DGPSenabled" @change="enableCalc(DGPSenabled)" color="success" inset :label="`D-GPS`"></v-switch>
                                        </v-col>
                                        <v-col cols="5">
                                            <v-icon v-if="DGPSpossible" color="green"/>mdi-check-circle</v-icon>
                                            <v-icon v-else color="red" />mdi-close-circle</v-icon>
                                        </v-col>
                                    </v-row>
                                </v-row>
                                <v-divider class="my-2"></v-divider>
                                <v-btn color="red" outlined rounded text @click="restart()">   Restart Script    </v-btn>
                            </v-col> -->
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
					
                    
				</v-row>	
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="/js/vue.js"></script>
<script src="/js/vuetify.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/vue2-leaflet.min.js"></script>

<script>
    
    Vue.config.devtools = true;
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        components: {
            'l-map': window.Vue2Leaflet.LMap,
            'l-tile-layer': window.Vue2Leaflet.LTileLayer,
            'l-marker': window.Vue2Leaflet.LMarker,
            'l-tooltip': window.Vue2Leaflet.LTooltip,
            //'l-control-layers': window.Vue2Leaflet.LControlLayers,
            //'l-popup': window.Vue2Leaflet.LPopup,
            //'l-polyline': window.Vue2Leaflet.LPolyline,
            //'l-polygon': window.Vue2Leaflet.LPolygon,
            //'l-rectangle': window.Vue2Leaflet.LRectangle,
        },
        data() {
            return {
                zoom: 21,

                GPSData: {
                    GPSLat: "0",
                    GPSLon: "0",
                    CorrectedLat: "0",
                    CorrectedLon: "0",
                    FixLat: "51.07205984",
                    FixLon: "13.59835664",
                    DGPSLat: "0",
                    DGPSLon: "0",
                },
                correctionEnabled: true,
                correctionPossible: true,
                DGPSenabled: false,
                DGPSpossible: false,

                Telemetry:{
                    Depth: "0",
                    Tether_Length: "0",
                    Correction_Offset: "0",
                    Direction: "0",
                    Compass: "0",
                    Accuracy: "0",
                    Humidity:"0",
                    Temperature:"0",
                },
		        timeBoje:"00:00:00",
                
                markerFix: null,
                markerGPS: null,
                markerCorrected: null,
                map: null,
            }
        }, 
        methods: {
            initMap(){
                map = L.map('map').setView([this.GPSData.FixLat, this.GPSData.FixLon], 18);
                L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    maxZoom: 20,
                }).addTo(map);
                this.markerFix = L.marker([this.GPSData.FixLat, this.GPSData.FixLon]).addTo(map).bindTooltip("Hello").openTooltip()
            },
            setMarkers(){
                this.markerFix = L.marker([this.GPSData.FixLat, this.GPSData.FixLon]).addTo(map);
            },
			async reloadTextFromBackend() {
                await axios.get("/v1.0/GPSLat").then(response => {
                    this.GPSData.GPSLat = response.data;
                })
                await axios.get("/v1.0/GPSLon").then(response => {
                    this.GPSData.GPSLon = response.data;
                })
                await axios.get("/v1.0/CorrectedLat").then(response => {
                    this.GPSData.CorrectedLat = response.data;
                })
                await axios.get("/v1.0/CorrectedLon").then(response => {
                    this.GPSData.CorrectedLon = response.data;
                })
                await axios.get("/v1.0/DGPSLat").then(response => {
                    this.GPSData.DGPSLat = response.data;
                })
                await axios.get("/v1.0/DGPSLon").then(response => {
                    this.GPSData.DGPSLon = response.data;
                })

                await axios.get("/v1.0/CorrectionPossible").then(response => {
                    this.correctionPossible = response.data;
                })
                await axios.get("/v1.0/DGPSpossible").then(response => {
                    this.DGPSpossible = response.data;
                })
                
                await axios.get("/v1.0/Depth").then(response => {
                    this.Telemetry.Depth = response.data;
                })
                await axios.get("/v1.0/Lenght").then(response => {
                    this.Telemetry.Tether_Length = response.data;
                })
                await axios.get("/v1.0/Correction").then(response => {
                    this.Telemetry.Correction_Offset = response.data;
                })
                await axios.get("/v1.0/Direction").then(response => {
                    this.Telemetry.Direction = response.data;
                })
                await axios.get("/v1.0/Compass").then(response => {
                    this.Telemetry.Compass = response.data;
                })
                await axios.get("/v1.0/Accuracy").then(response => {
                    this.Telemetry.Accuracy = response.data;
                })

                await axios.get("/v1.0/GetTime").then(response => {
                    this.timeBoje = response.data;
                })

                await axios.get("/v1.0/GetTemp").then(response => {
                    this.temp = response.data;
                })

                await axios.get("/v1.0/GetHum").then(response => {
                    this.hum = response.data;
                })

                if(GPSData.FixLat != "0" && GPSData.FixLon != "0"){
                    this.markerFix = L.marker([GPSData.FixLat, GPSData.FixLon], {icon: this.iconFix}).addTo(this.map);
                }

                setMarkers();
            },
            async loadTextFromBackend() {
                await axios.get("/v1.0/FixLat").then(response => {
                    this.GPSData.FixLat = response.data;
                })
                await axios.get("/v1.0/FixLon").then(response => {
                    this.GPSData.FixLon = response.data;
                })
            },

            async setDPGS() {


                await axios.post('/v1.0/setDGPSLat', {
                    data: this.GPSData.FixLat,
                })
                await axios.post('/v1.0/setDGPSLon', {
                    data: this.GPSData.FixLon,
                })
            },

            async enableDGPS(value) {
                await axios.post('/v1.0/enableDGPS', {
                    data: value,
                })
            },
            async enableCalc(value) {
                await axios.post('/v1.0/enableCalc', {
                    data: value,
                })
            },

            async restart() {
                await axios.post('/v1.0/restart', {})
            },            

            async setTime() {
                await axios.post('/v1.0/setTime', {})
            },

            timer() {
                this.interval = setInterval(() => this.reloadTextFromBackend(), 2000);
            },
        },
        mounted() {
            this.initMap()
            this.loadTextFromBackend()
            this.timer()
            
        }
    })
</script>


<!-- <l-marker :lat-lng="[GPSData.FixLat, GPSData.FixLon]" draggable>
    <l-tooltip>
        D-GPS Fix
    </l-tooltip>
</l-marker>
<l-marker :lat-lng="[GPSData.GPSLat, GPSData.GPSLon]" >
    <l-tooltip>
        Raw GPS Reading
    </l-tooltip>
</l-marker>
<l-marker :lat-lng="[GPSData.CorrectedLat, GPSData.CorrectedLon]" >
    <l-tooltip>
        Calculated Position
    </l-tooltip>
</l-marker> -->
</html>
